<%- include("../base/cabecera", {tituloWeb: 'Deudas', tabla: 1}) %>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                
                <div class="box-body">
                    <table id="tabla_registros" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Total</th>
                                <th>Abonado</th>
                                <th>Saldo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (deudas) { %>
                                <% deudas.forEach(deuda => { %>
                                    <tr>
                                        <td>
                                            <%= deuda.NOMBRE %>
                                        </td>
                                        <td>
                                            <%= deuda.TOTAL %>
                                        </td>
                                        <td>-----</td>
                                        <td>-----</td>
                                        <td>
                                            <a href="#" class="btn btn-info" title="Detalle de deudas">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a href="#" class="btn btn-success" title="Agregar abono">
                                                <i class="fa fa-download"></i>
                                            </a>
                                            <a href="/deudas/add/<%= deuda.ID %>" class="btn btn-primary" title="Agregar deuda">
                                                <i class="fa fa-upload"></i>
                                            </a>
                                         </td>
                                  
                                        
                                    </tr>
                                    <% }) %>
                                        <% } %>
                                            </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <%- include("../base/footer", {tituloWeb: 'tabla'}) %>