<%- include("../base/cabecera.ejs", {tituloWeb: 'Editar deudor', tabla: 0}) %>
    <div class="col-md-12">
        <div class="box box-primary">
            <!-- form start -->
            <form role="/deudores/edit/<%= deudor.ID %> " autocomplete="off" method="POST">
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="nombre">Nombre</label>
                            <input type="text" maxlength="30" id="nombre" name="nombre" class="form-control" value="<%= deudor.NOMBRE %>" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="nombre">Apellido</label>
                            <input type="text" maxlength="30" id="apellido" name="apellido" class="form-control" value="<%= deudor.APELLIDO %>" placeholder="Opcional">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <select class="form-control" name="estado">
                                <% if (deudor.ESTADO == 1) { %>
                                    <option selected value="1">Activo</option>
                                    <option value="0">Deshabilitado</option>
        
                                    <% } else { %>
                                        <option value="1">Activo</option>
                                        <option selected value="0">Deshabilitado</option>
                                <% } %>
                            </select>
                        </div>
                    </div>
            </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <a href="/deudores" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Atrás</a>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>

    <%- include("../base/footer", {tituloWeb: 'Editar deudor'}) %>