<%- include("../base/cabecera", {tituloWeb: 'Deudores', tabla: 1}) %>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <% if (user.ROL == 'Administrador') { %>
                        <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-default-agregar">Agregar</a>
                    <% } %>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tabla_registros" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Fecha registro</th>
                                <th>Estado</th>
                                <% if (user.ROL == 'Administrador') { %>
                                    <th>Acciones</th>
                                <% } %>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <% if (deudores) { %>
                                <% deudores.forEach(deudor => { %>
                                    <tr>
                                        <td>
                                            <%= deudor.NOMBRE %>
                                        </td>
                                        <td>
                                            <%= deudor.APELLIDO %>
                                        </td>
                                        <td>
                                            <%= deudor.FECHA_REG.getDate()%>/
                                                <%= deudor.FECHA_REG.getMonth() + 1 %>/
                                                    <%= deudor.FECHA_REG.getFullYear() %>
                                        </td>
                                        <td>
                                            <% if (deudor.ESTADO == 1) { %>
                                                <a class="btn btn-sm btn-success" title="Activo"><i class="fa fa-check"></i></a>
                                                <% } else { %>
                                                    <a class="btn btn-sm btn-danger" title="Deshabilitado"><i class="fa fa-times"></i></a>
                                                    <% } %>
                                        </td>
                                        <% if (user.ROL == 'Administrador') { %>
                                            <td>
                                                <a href="/deudas/add/<%= deudor.ID %>" class="btn btn-primary" title="Agregar deuda">
                                                    <i class="fa fa-upload"></i>
                                                </a>
                                                <a class="btn btn-warning" id="deu<%= deudor.ID %>" title="Editar">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a href="/deudores/delete/<%= deudor.ID %>" class="btn btn-danger" title="Eliminar">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        <% } %>
                                        
                                    </tr>
                                    <% }) %>
                                        <% } %>
                                            </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <%- include("./agregar") %>
    <%- include("./editar") %>

    <%- include("../base/footer", {tituloWeb: 'deudores'}) %>